.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--color-default {
  color: #3B4047;
}

.text--ghost {
  color: #CFD4DC !important;
}