.table-clever {
  border-spacing: 0px 8px;
  width: 100%;
  padding: 0px;
  margin: 0px;

  & > thead > tr {
    background: #E1E5EB;

    & > th {
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      padding: 16px;
      
      &:first-child {
        border-radius: 16px 0px 0px 16px;
        padding: 16px 16px 16px 32px;
      }

      &:last-child {
        border-radius: 0px 16px 16px 0px;
        padding: 16px 32px 16px 16px;
      }
    }
  }

  & > tbody > tr {
    background: #FFFFFF;
    filter: drop-shadow(0px 1px 13px rgba(0, 0, 0, 0.08));

    & > td {
      font-size: 1rem;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      padding: 16px 16px 16px 16px;

      &:first-child {
        border-radius: 16px 0px 0px 16px;
        padding: 16px 16px 16px 32px;
      }

      &:last-child {
        border-radius: 0px 16px 16px 0px;
        padding: 16px 32px 16px 16px;
      }
    }
  }
}